<footer class="full-width-footer">
  <div class="footer-content">
    <h2>Psychology Technicians · Wrexham University</h2>
    <p>© <span id="current-year"></span></p>
    <p>
      <a href="https://wrexham.ac.uk/privacy">Privacy Policy</a> |
      <a href="https://myuni.glyndwr.ac.uk/">MyUni Page</a> |
      <a href="https://wris.wrexham.ac.uk/">Ethics Page</a> |
      <a href="https://wrexham.libguides.com/digitallearning">Digital Skills</a> |
    </p>
  </div>
</footer>

<script>
  document.getElementById('current-year').textContent = new Date().getFullYear();
</script>
